# This is the TF2 Mix Bot configuration file.
#
# Everything after a # symbol is ignored and probably contains some
# instructions on what that setting is for.

network:
  # Where to connect
  server: irc.gamesurge.net
  channel: "#channel.name.here"

  # How many seconds should the bots wait between joins from the same IP address?
  reconnect time: 10
  # How many messages per minute can a single bot send without flooding?
  messages per minute: 15

  # Connect one messenger for each name listed and send messages
  # round-robin through them to lessen throttling.
  bot names:
    - MixBot1
    - MixBot2
    - MixBot3
    - MixBot4

servers:
  # The bot will send connect info to the players for the
  # least-recently used server.
  PUG Server:
    # Connect info
    server: 12.34.56.78
    port: 27015
    # If you want a constant password, enter it here. Otherwise the
    # bot will choose a random password per PUG.
    password: thepassword
    # If you don't enter an RCON password (or enter it incorrectly),
    # the bot will be unable to set up the server for you.
    rcon password: super secret passphrase goes here

    # Mumble info:
    # A link will be sent to the player when they are picked.
    mumble:
      server: 12.34.56.78
      port: 64738
      password: mumble password

      red channel: PUG/Red
      blu channel: PUG/Blu

rules:
  # Options: "captain" or "random".
  # When mode is "random", teams will be random-picked as soon as
  # there are enough players to added to do so.
  # When mode is "captain", teams will be picked by the two players
  # with the highest total number of games.
  picking: random

  # Options: "highlander", "sixes" or "custom".
  mode: highlander

  # If mode is "custom", you must specify the class limits per team.
  # For example, you can make this an ultiduo bot with these limits:
  #class limits:
  #  soldier: 1
  #  medic: 1

database:
  # How the bot stores information.
  type: sqlite

  # Where it stores it. For sqlite, this is a filename.
  name: bot.sqlite

# Local Variables:
# mode: yaml
# End:
